
@font-face {
    font-family: 'Romelio';
    src: url('../../public/fonts/Romelio.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../../public/fonts/Poppins-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.footer {
    height: 30vh; 
    background-color: #003851;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-name{
    width: 300px;
    margin-top: 44%;
  }
  
  .company-subtitle {
    font-size: 20px;
    margin-top: -10px;
  }

  .copyright {
    position: absolute;
    font-size: 16px;
    margin-left: -72%;
    margin-top: 15%;
    opacity: 0.7;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
  }
  
  .links h3 {
    margin: 5px 0;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Poppins-Light', sans-serif;
    letter-spacing: 6px;
    word-spacing: 1px;
  }
  

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  
  .social-media .ig {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-top: -5%;
    margin-left: -25%;
    text-decoration: none;
    color: white;
  }
  .social-media .fb {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-top: -5.01%;
    margin-left: -27%;
    text-decoration: none;
    color: white;
  }
  .social-media .in {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-top: -5%;
    margin-left: -23%;
    text-decoration: none;
    color: white;
  }