.group {
    height: 100vh;
    background-image: url('../../public/images/A-logo.png');
    background-color: rgb(247, 247, 247);
    background-size: 3400px;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 42%;
}

.group-content {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    line-height: 1.5; /* Adjust line height for better readability */
}

.group h1 {
    margin-bottom: 1%;
    font-family: 'Romelio', sans-serif;
    font-size: 35px;
    font-weight: lighter;
}

.group p {
    margin-top: 2%;
    color: #00424a;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 100; /* Lighter font weight */
    line-height: 52px;
}

.button {
    color: #00424a; /* Darker text color */
    padding: 5px 22px;
    margin-top: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: 100; /* Lighter font weight */
    border-color: #00424a; /* Darker border color */
    cursor: pointer;
}