.vision {
    height: 110vh;
    background-image: url('../../public/images/shutterstock_2533895873.jpg');
    background-color: #225679e6; 
    background-size: cover;
    background-position: center;
    display: flex;
    background-blend-mode: multiply;
    background-position-y: -200px;
    text-align: center;
    position: relative; /* Ensure the title is positioned relative to the vision section */
}

@font-face {
    font-family: 'Romelio';
    src: url('../../public/fonts/Romelio.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.title {
    position: absolute; /* Position the title absolutely */
    top: 5%; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-family: 'Romelio', sans-serif;
    font-size: 27px;
    letter-spacing: 3px;
    color: aliceblue;
    text-align: center;
}

.vision-content {
    display: flex;
    align-items: flex-start; /* Align items to the start */
    text-align: center;
    justify-content: space-between; /* Distribute space between items */
    margin-top: 17%;
    margin-left: 15%;
}

.left, .centre, .right {
    flex: 1;
    margin: 0 100px; /* Adjust the margin as needed */
}

.vision-content h2 {
    font-family: 'Romelio', sans-serif;
    color: aliceblue;
    font-size: 100px; /* Adjust font size if needed */
    margin: 0; /* Remove top margin */
    text-align: center;
}

.vision-content p {
    width: 200px;
    margin: 10px auto 0; /* Center align and add top margin */
    color: aliceblue;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}   